@use 'colors' as c;
@use 'texto' as t;
@use 'screens' as sc;

body {
    nav {
        ul {
            list-style: none;
        }
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        gap: 10px;
    }
    background-color: c.$color5;
    font-family: "PT Serif";
    text-align: justify;
}