@use 'colors' as c;
@use 'texto' as t;

body {
    background-color: c.$color5;
    font-family: "PT Serif";
    text-align: justify;
}

.navbar {
    background-color: c.$color1;
}

.nav-link {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 0;
    margin: 0 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
}
.nav-link:hover {
    opacity: 1;
    text-align: center;
}
.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: c.$color3;
}
.nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
}
.nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
}

.img-thumbnail {
    background-color: c.$color4;
}